{% extends '../products/base.html' %}
{% load products_extras %}

{% block content %}

<div class="cart__main__title">

    {% include './blocks/space20.html' %}
    <div class="nice__title2__left">
        Оформление заказа
    </div>

</div>

<div class="offer__page__container">
    <div class="offer__page__block1">
        <div class="offer__page__block1__sub">
            <div class="offer__page__block1__sub__title">
                <span>
                    Контактные данные
                </span>
            </div>
            <div class="offer__page__block1__sub__content">
                <div class="error__message"
                id="error_name_phone">
                    <span>
                    Введите ваше имя и телефон
                    </span>
                </div>
                <div class="offer__page__block1__sub__content__form">
                <input type="text"
                placeholder="Имя"
                value="{{ user.name }}"
                autocomplete="off"
                class="cart__input"
                name="person_name">
                <input type="text"
                value="{{ user.phone }}"
                placeholder="Телефон"
                autocomplete="off"
                class="cart__input"
                name="person_phone">
                <!-- <input type="text"
                placeholder="Почта"
                autocomplete="off"
                class="cart__input"> -->
                </div>

            </div>


            <div class="offer__page__block1__sub__title">
                <span>
                    Способ доставки
                </span>
            </div>
            <div class="error__message"
                id="error_delivery">
                    <span>
                    Выберите способ доставки
                    </span>
                </div>
            <div class="delivery__block__main">
                <div class="delivery__block__main__card
                delivery__method delivery__method__cura"
                value="курьер"
                data-toogle="#cart_input_cura">
                    <span>
                        Курьером 
                    </span>
                </div>
                <div class="delivery__block__main__card
                delivery__method delivery__method__byclient"
                value="самовывоз"
                data-toogle="#cart_input_own">
                    <span>
                        Самовывоз 
                    </span>
                </div>
            </div>


            <div class="delivery__subinfo__container">

            {% if user %}
                <div id="cart_input_cura">
                        <div class="nice_title medium center bold pd15">
                            <span>
                                Выберите адрес доставки
                            </span>
                        </div>
                        <div class="cart_delivery_authorized">
                            {% include './blocks/offer_address_block.html' %}      
                        </div>
                        <div class="nice_button pointer noselect center">
                            <span class="add_address_form_button need_render">
                                Добавить адрес
                            </span>
                        </div>
                </div>
                {% else %}
                    <input type="text"
                    placeholder="Адрес доставки (улица, дом, квартира)"
                    autocomplete="off"
                    class="cart__input"
                    id="cart_input_cura"
                    name="delivery_address">
            {% endif %}
            <span
            id="cart_input_own">
                <div class="nice_title medium center bold pd15">
                    <span>
                        Адрес самовывоза:
                    </span>
                </div>
                г. Ялта, Кастрополь, Кипарисная улица, 1к15 
            </span>
            </div>


            <div class="offer__page__block1__sub__title">
                <span>
                    Способ оплаты
                </span>
            </div>
            <div class="error__message"
                id="error_payment">
                    <span>
                    Выберите способ оплаты
                    </span>
                </div>

            <div class="delivery__block__main">
                <div class="delivery__block__main__card
                payment__method payment__method_cash"
                value="наличные">
                    <span>
                        Наличными 
                    </span>
                </div>
                <div class="delivery__block__main__card
                payment__method payment__method_beznal"
                value="безнал">
                    <span>
                        Безналичный расчет
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="offer__page__block2">
        <div class="offer__page__block2__content">
            <div class="offer__page__block2__content__item">
                <div class="offer__page__block2__content__item__first">
                    <span class="your__cart__block__title">
                        Ваш заказ
                    </span>
                </div>
                <div class="offer__page__block2__content__item__second">
                    <a class="offer__cart__back"
                    href="{% url 'cart:index' %}">
                        Редактировать
                    </a>
                </div>
            </div>

            {% for item in cart.item_set.all  %}

            <div class="offer__page__block2__content__item">

                <div class="offer__page__block2__content__item__first">
                
                    <div class="offer__page__block2__content__item__prinfo">
                        {% modify_imgsrc item.product.imgsrc as imgsrc %}
                        <img src="{{ imgsrc }}" alt="">
                        <div class="offer__page__block2__content__item__prinfo__second">
                            <a class="offer__page__block2__content__item__prinfo__second__name"
                            href="{% url 'products:product' item.product.id %}">
                                {{ item.product.name }}
                            </a>
                            <span class="offer__page__block2__content__item__prinfo__second__name">
                                {{ item.quantity }} шт.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="offer__page__block2__content__item__second">
                    {% if item.has_sale %}
                        <span>
                            {{ item.product.sale_price }}
                        </span>
                        {% else %}
                            <span>
                                {{ item.product.price }}
                            </span>
                    {% endif %}
                </div>

            </div>

            {% endfor %}
<!-- 
        <div class="offer__page__block2__content__item">
            <div class="offer__page__block2__content__item__first">
                <span class="your__cart__block__title2">
                    Баллов за покупку
                </span>
            </div>
            <div class="offer__page__block2__content__item__second">
                <span class="your__cart__block__value3">
                    +581
                </span>
            </div>
        </div> -->
            {% if user %}
            {% include './blocks/bonus_use_block.html' %}
            {% endif %}
        <div class="offer__page__block2__content__item">
            <div class="offer__page__block2__content__item__first">
                <span class="your__cart__block__title3">
                    Итого
                </span>
            </div>
            <div class="offer__page__block2__content__item__second">
                <span class="your__cart__block__value4">
                    {{ cart.get_total }} Р
                </span>
            </div>
        </div>

        <div class="">
            <a class="cart__checkout__button">
                <span>
                    Разместить заказ
                </span>
            </a>
        </div>


        </div>
    </div>
</div>


<script>
    $(".main__site__wrapper__main").addClass("bg1")
    check_set_delivery_payment()
    check_set_user_info()

    function check_set_user_info() {
        var user_name = "{{ cart.current_name }}"
        var user_phone = "{{ cart.current_phone }}"
        // if (user_name) {
        $("input[name='person_name']").attr('value', user_name)
        // }
        // if (user_phone) {
        $("input[name='person_phone']").attr('value', user_phone)
        // }
    }
    function cart_remember_user_info() {
        var user_name = $("input[name='person_name']").val()
        var user_phone = $("input[name='person_phone']").val()
        console.log(user_name, user_phone);
        $.ajax({
            url: "{% url 'cart:remember_user_info_ajax' %}",
            data: {
                'user_name': user_name,
                'user_phone': user_phone,
            }, success: function() {
                // need to do something?
            }
        })
    }
    function check_set_delivery_payment() {
        var delivery_method = "{{ cart.delivery_method }}"
        var payment_method = "{{ cart.payment_method }}"
        console.log('delivery method is');
        console.log(delivery_method);
        if (delivery_method == 1) {
            $(".delivery__method__cura").addClass('active')
            setDeliveryActive($('.delivery__method__cura'))
        }
        if (delivery_method == 2) {
            $(".delivery__method__byclient").addClass('active')
            setDeliveryActive($('.delivery__method__byclient'))
        }
        if (payment_method == 1) {
            $(".payment__method_cash").addClass("active")
            setPaymentActive($(".payment__method_cash"))
        }
        if (payment_method == 2) {
            $(".payment__method_beznal").addClass("active")
            setPaymentActive($(".payment__method_beznal"))
        }
    }

    $('.delivery__method').click(function() {
        delivery_method = $(this).attr("value")
        console.log('start count if need to apply delivery discount')
        console.log('delivery method is', delivery_method)
        $.ajax({
            url: "{% url 'cart:check_set_delivery_discount_ajax' %}",
            data: {
                'delivery_method': delivery_method,
            }, success: function(data) {
                console.log('response data is', data)
                cart_remember_user_info()
                window.location.reload()
            }
        })
        setDeliveryActive(this)
    })

    $(".payment__method").click(function() {
        payment_method = $(this).attr("value")
        $.ajax({
            url: "{% url 'cart:check_set_payment_ajax' %}",
            data: {
                'payment_method': payment_method,
            }, success: function(data) {
                console.log('response data is', data)
                cart_remember_user_info()
                window.location.reload()
            }
        })
        setPaymentActive(this)
    })

    $(".cart__checkout__button").click(function() {
        $('#error_name_phone').removeClass("show")
        $('#error_delivery').removeClass("show")
        $('#error_payment').removeClass("show")

        var error_id
        var can_make_order = 'yes'


        var name = $("input[name='person_name']").val()
        var phone = $("input[name='person_phone']").val()
        var payment = $(".payment__method.active").attr("value")

        var user = "{{ user.id }}"
        if (user == false) {
            var delivery = $(".delivery__method.active").attr("value")
            if (delivery == 'курьер') {
            var address = $("input[name='delivery_address']").val()
            } else {
                var address = 'Самовывоз'
            }
            if (delivery === undefined) {
            $('#error_delivery').addClass("show")
            error_id = '#error_delivery'
            can_make_order = 'no'
            }
            if (address.length == 0) {
            $('#error_delivery').addClass("show")
            error_id = '#error_delivery'
            can_make_order = 'no'
            }
        } else {
            var delivery_method = $(".delivery__method.active").attr("value")
            if (delivery_method == 'курьер') {
                var delivery = $("input[name='delivery_address_auth']:checked").val()
                if (delivery === undefined) {
                $('#error_delivery').addClass("show")
                error_id = '#error_delivery'
                can_make_order = 'no'
                }
                address = 'need_specify'
            } else {
                var delivery = 'Самовывоз'
                address = ''
            }
        }
        

        
        if (name.length == 0) {
            $('#error_name_phone').addClass("show")
            error_id = '#error_name_phone'
            can_make_order = 'no'
        }
        if (phone.length == 0) {
            $('#error_name_phone').addClass("show")
            error_id = '#error_name_phone'
            can_make_order = 'no'
        }
        if (payment === undefined) {
            $('#error_payment').addClass("show")
            error_id = '#error_payment'
            can_make_order = 'no'
        }
        if (error_id != undefined) {
        $([document.documentElement, document.body]).animate({
        scrollTop: $(error_id).offset().top - 100
    }, 1000);
        }


        if (can_make_order == 'yes') {
            console.log('can make an order')
        $.ajax({
            url: "{% url 'cart:create_order_ajax' %}",
            data: {
                'name': name,
                'phone': phone,
                'delivery': delivery,
                'address': address,
                'payment': payment,
            },
            success: function(data) {
                created = data['order_created']
                if (created == 'yes') {
                    console.log('order is created')
                    document.location.href = "{% url 'cart:order_created' %}"
                }
            }
        });

        }
        
    })

</script>

{% endblock content %}