{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Доставка еды</title>

    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery_mask_input.js' %}"></script>

    <script src="{% static 'js/wayp/noframework.waypoints.min.js' %}"></script>
    <script src="{% static 'js/wayp/sticky.min.js' %}"></script>

    <script src="{% static 'plugins/jquery.magnific-popup.js' %}"></script> {% endcomment %}



    <link rel="stylesheet" href="{% static 'plugins/magnific-popup.css' %}">

    {% comment %} <script async src="https://kit.fontawesome.com/bca16a3855.js" crossorigin="anonymous"></script> {% endcomment %}
    <link href='https://css.gg/css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css'%}">

    <link rel="stylesheet" href="{% static 'js/owlcarousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'js/owlcarousel/owl.theme.default.css'%}">


    

</head>
<body>

    <div class="site_container" id="app">

    

    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>


    </div>

</body>
</html>