<!-- {% include './blocks/h_first.html' %} -->
{% load static %}


<div class="main__header__second__mobile__logo">
    <a class="header__second__logo mobile__logo"
    href="{% url 'products:index' %}">
        <img class="logoimg"
        src="{% static 'images/main_logo2.jpg' %}" alt="">
    </a>

    <!-- <div class="header__second__search">
        <form
        class="header__second__search__form">
            {% csrf_token %}
            <input type="text" class="input_search"
            name="search_input"
            placeholder="Искать">
            <button class="input_submit">
                <i class="gg-search"></i>
            </button>
        </form>
    </div> -->

</div>

<div class="main__header__second">
    <a class="header__second__logo logo__big"
    href="{% url 'products:index' %}">
        <img class="logoimg"
        src="{% static 'images/main_logo2.jpg' %}" alt="">
    </a>

    <div class="header__second__catalog">
        <div class="header__second__catalog__items">
            <a
            href="{% url 'products:index' %}#delivery__menu__title"
            class="main__anchor__header">
                Меню доставки
            </a>
        </div>
        <div class="header__second__catalog__items">
            <a href="{% url 'products:stock' %}">
                Акции
            </a>
        </div>
        <div class="header__second__catalog__items">
            <a
            href="{% url 'products:index' %}#delivery_info_main">
                Доставка и оплата
            </a>
        </div>
        <div class="header__second__catalog__items">
            <a
            href="{% url 'products:index' %}#contact_info_main">
                Контакты
            </a>
        </div>
    </div>

    <div class="main__header__phone">
        <div class="main__header__phone__main">
            <i class="fa fa-phone-alt"></i>
            <div class="main__header__phone__main__text">
                <a href="tel:+79781161415">
                    +7 (978) 116-14-15
                </a>
            </div>
        </div>
        <div class="main__header__phone__callme">
            <span class="main__header__phone__callme">
                Заказать звонок
            </span>
        </div>
    </div>

    <div class="header__second__catalog__mobile">
        <div class="header__second__catalog__mobile__items">
            <i class="gg-menu-left-alt"></i>
            <span>
                Меню
            </span>
        </div>
    </div>

    <div class="main__header__phone__mobile">
        <div class="main__header__phone__main">
            <i class="fa fa-phone-alt"></i>
            <div class="main__header__phone__main__text">
                <a href="tel:+79781161415">
                    +7 (978) 116-14-15
                </a>
            </div>
        </div>
        <div class="main__header__phone__callme">
            <span class="main__header__phone__callme">
                Заказать звонок
            </span>
        </div>
    </div>

   


    <!-- start search bar -->
    <!-- <div class="header__second__search search__big">
        <form
        class="header__second__search__form">
            {% csrf_token %}
            <input type="text" class="input_search"
            name="search_input"
            placeholder="Искать">
            <button class="input_submit">
                <i class="gg-search"></i>
            </button>
        </form>
    </div> -->
    <!-- end search bar -->


    <div class="header__second__icons">

        

        <a class="header__second__icons__item
        header__cart"
        href="{% url 'cart:index' %}">
            <i class="fa fa-shopping-basket
            header__basket"></i>
            <div class="cart__count__info">
                <span class="count__label">
                    {{ cart.items_in_cart }}
                </span>
            </div>
        </a>
        <a class="header__second__icons__item nolink"
        href="{% url 'users:index' %}">
            <i class="fa fa-user"></i>
        </a>

        <!-- <a class="header__second__icons__item account__big">
            <svg height="24" viewBox="0 0 20 20" width="24"><path d="M16.984 14.506V17H3.016v-2.494C4.47 11.794 6.797 10.438 10 10.438s5.531 1.356 6.984 4.068zM10 11.938c-2.528 0-4.295.958-5.484 2.961v.6h10.968v-.6c-1.19-2.003-2.956-2.961-5.484-2.961zm3.686-6.384a3.686 3.686 0 11-7.372 0 3.686 3.686 0 017.372 0zm-1.5 0a2.186 2.186 0 10-4.372 0 2.186 2.186 0 004.372 0z"></path></svg>
        </a> -->

    </div>
</div>


<div class="header__popup__mobile">
    <div class="header__popup__mobile__menu">
        <a href="{% url 'products:index' %}"
            class="mobile__nav">
                Главная
            </a>
        <a
            href="{% url 'products:index' %}#delivery__menu__title"
            class="main__anchor__header
            mobile__nav">
                Меню доставки
            </a>
            <a href="{% url 'products:stock' %}"
            class="mobile__nav">
                Акции
            </a>
            <a
            href="{% url 'products:index' %}#delivery_info_main"
            class="mobile__nav">
                Доставка и оплата
            </a>
            <a
            href="{% url 'products:index' %}#contact_info_main"
            class="mobile__nav">
                Контакты
            </a>
    </div>
</div>
<div class="header__popub__mobile__close">
    <i class="fa fa-close"></i>
</div>
<div class="header__popup__mobile__wrapper">

</div>



<script>
    // $(".header__second__catalog").click(function() {
    //     $(".catalog_open").toggleClass("hide")
    //     $(".catalog_close").toggleClass("show")
    //     $(".header__second__catalog").toggleClass("opened")
    //     $(".header__second__catalog__items").toggleClass("opened")
    // })
    $(".header__second__catalog__mobile").click(function() {
        openMobileMenu()
    })
    $(".header__popub__mobile__close").click(function() {
        closeMobileMenu()
    })
    $(".mobile__nav").click(function() {
        closeMobileMenu()
    })
</script>