.cost1__container {
  margin: 25 0;
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
  display: flex;
  min-height: 180px;
}

.cost1__container__button {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.cost1__container__button__title {
  font-size: 25px;
  color: white;
}

.cost1__container__button span {
  margin-top: 40px;
  cursor: pointer;
  background-color: white;
  padding: 15px 40px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.cost1__container__button span:hover {
  transform: translateY(-5px);
}
