.categories__main {
  background-color: #f3f5fd;
}

.categories__main__content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category__card {
  text-decoration: none;
  cursor: pointer;
  padding: 20 0;
  border-radius: 8px;
  max-width: 280px;
  width: 33%;
  min-height: 100px;
  background-color: white;
  text-align: center;
  margin: 9;
  transition: all 0.3s;
}

.category__card:hover {
  transform: translateY(-10px);
}

.category__card__image img {
  object-fit: contain;
  width: 90%;
  height: 150px;
}

.category__card__title {
  margin: 30 10 0 10;
  text-transform: uppercase;
  font-size: 15px;
  color: #222222;
  font-family: "gpro-text-medium";
}

@media (max-width: 885px) {
  .category__card {
    width: 40%;
    max-width: 500px;
  }
}
