.delivery__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f7f8;
}

.delivery__block {
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  margin: 20 10;
  min-width: 350px;
  width: 30%;
  max-width: 400px;
  display: flex;
}

.delivery__block__icon {
  min-width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 4px 4px 15px -11px rgba(0, 0, 0, 0.75);
}

.delivery__block__icon i {
  font-size: 30px;
  color: #fa5523;
}

.delivery__block__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.delivery__block__info__title {
  font-family: "gpro-text-medium";
}

.delivery__block__info__desc {
  color: grey;
}

@media (max-width: 500px) {
  .delivery__block {
    min-width: 300px;
  }
}
