.continue__shopping {
  text-align: center;
}

.continue__shopping #continue__shopping {
  text-decoration: none;
  font-size: 18px;
  padding: 15 50;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #fa5523;
  color: white;
  transition: all 0.2s;
}

.continue__shopping #continue__shopping:hover {
  background-color: red;
}

.favorite__empty {
  background-color: #f3f5fd;
  min-height: 100px;
  font-size: 19px;
  text-align: center;
}

.favorite__empty span {
  font-size: 22px;
}

.favorite__empty__block {
  display: none;
}

.favorite__empty__block.show {
  display: block;
}

.favorite__main__block.hide {
  display: none;
}
