@font-face {
  font-family: "gpro-text-semilight";
  src: url("./fonts/GTEestiProText-Light.ttf");
}
@font-face {
  font-family: "gpro-text-light";
  src: url("./fonts/GTEestiProDisplay-Light.ttf");
}
@font-face {
  font-family: "gpro-text-regular";
  src: url("./fonts/GTEestiProText-Regular.ttf");
}
@font-face {
  font-family: "gpro-text-medium";
  src: url("./fonts/GTEestiProDisplay-Medium.ttf");
}
@font-face {
  font-family: "gpro-text-bold";
  src: url("./fonts/GTEestiProDisplay-Bold.ttf");
}
@font-face {
  font-family: "nunito-light";
  src: url("./fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "nunito-regular";
  src: url("./fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "nunito-semibold";
  src: url("./fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: "nunito-bold";
  src: url("./fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "nunito-extrabold";
  src: url("./fonts/Nunito-ExtraBold.ttf");
}