
.mo-fire {
    width: 50px;
    height: auto;
    position: absolute;
    right: -15;
    top: -25;
    z-index: 200;
    // margin-left: -100px;
    // top: 100px;
  }
  .mo-fire svg {
    width: 70%;
    height: auto;
    position: relative;
    z-index: 200;
  }
  .flame {
    z-index: 200;
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
  }
  .flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
  }
  .flame3.two{
    animation-duration: 5s;
    animation-delay: 1s;
  }
  
  .flame-main {
    animation-name: flameWobble;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .flame-main.one {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  .flame-main.two {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  .flame-main.three {
    animation-duration: 1.1s;
    animation-delay: 1s;
  }
  .flame-main.four {
    animation-duration: 1.2s;
    animation-delay: 1s;
  }
  .flame-main.five {
    animation-duration: 1s;
    animation-delay: 1s;
  }
  @keyframes flameWobble {
    50% {
      transform: scale(1,1.2) translate(0, -20px) rotate(-2deg);
    }
  }
  @keyframes flamefly {
    0%{
      transform: translate(0) rotate(180deg);
    }
     50% {
       opacity: 1;
    }
    100% {
      transform: translate(-30px, -200px) rotate(180deg);
      opacity: 0;
    }
}

