{% load static %}
{% load products_extras %}
<div class="cart__main__title">

    {% include './space20.html' %}
    <div class="nice__title__center2"
    id="delivery__menu__title">
        Меню доставки
    </div>
</div>

{% include './space20.html' %}

<div class="categories__main">

   

    {% include './space10.html' %}

    <div class="categories__main__content">

    {% for category in categories %}

    <a class="category__card"
    href="{% url 'products:index' %}#category-{{category.id}}">
        <div class="category__card__image">
        {% modify_imgsrc category.imgsrc as imgsrc %}
            <img src="{{ imgsrc }}" 
            alt="">
        </div>
        <div class="category__card__title">
            <span>
                {{ category.name }}
            </span>
        </div>
    </a>

    {% endfor %}
   

</div>

{% include './space20.html' %}
</div>