{% include './space20.html' %}
        <div class="nice__title__center3"
        id="delivery_info_main">
            <span>
            Доставка и оплата
            </span>
        </div>
    </div>
    {% include './space20.html' %}
    
<div class="delivery__blocks">


    <div class="delivery__block">
        <div class="delivery__block__icon">
            <i class="fa fa-shipping-fast"></i>
        </div>
        <div class="delivery__block__info">
            <div class="delivery__block__info__title">
                Доставка от 30 минут
            </div>
            <div class="delivery__block__info__desc">
                Мы ценим ваше время и доставляем максимально быстро.
            </div>
        </div>
    </div>
    <div class="delivery__block">
        <div class="delivery__block__icon">
            <i class="fa fa-gift"></i>
        </div>
        <div class="delivery__block__info">
            <div class="delivery__block__info__title">
                Постоянные акции и скидки
            </div>
            <div class="delivery__block__info__desc">
                Следите за свежими навостями. Мы всегда будем радовать вас!
            </div>
        </div>
    </div>
    <div class="delivery__block">
        <div class="delivery__block__icon">
            <i class="fa fa-credit-card"></i>
        </div>
        <div class="delivery__block__info">
            <div class="delivery__block__info__title">
                Удобная оплата
            </div>
            <div class="delivery__block__info__desc">
                Оплачивайте ваш заказ как наличным, так и безналичным способом.
            </div>
        </div>
    </div>



</div>

{% include './space10.html' %}
<div class="delivery__info">
    <div class="delivery__info__title mgb10">
        Условия доставки:
    </div>
    <!-- <span class="delivery__info__block__st
        delivery__info__block__big">
            бесплатно
        </span> -->
    <!-- <div class="delivery__info__block">
        Алупка - доставка бесплатная. Минимальная сумма заказа - 850 ₽
    </div>
    <div class="delivery__info__block">
        Кореиз, Гаспра, Симеиз - 100₽. При заказе от 1200₽ доставка бесплатная.
    </div>
    <div class="delivery__info__block">
        Голубой залив, Кацивели, Понизовка, Мрия, Оползневое, Курпаты, Ореанда - 150₽. При заказе от 1500₽ доставка бесплатная.
    </div>
    <div class="delivery__info__block">
        Ливадия, Береговое, Кастрополь, Олива, Парковое - 200₽. При заказе от 2000₽ доставка бесплатная.
    </div>
    <div class="delivery__info__block">
        Ялта, Форос, Санаторное - 250₽. При заказе от 2500 доставка бесплатная.
    </div> -->
    
</div>


{% include './space20.html' %}
