{% load static %}

<div class="page__main__slider__wrapper">

    <div id="owl-main"
    class="page__main__slider owl-carousel owl-theme">
        <div class="">
            <img src="{% static 'images/slider1.png' %}" alt="">
        </div>
        <div class="">
            <img src="{% static 'images/slider2.png' %}" alt="">
        </div>
        <!-- <div class="">
            <img src="{% static 'images/slider1.png' %}" alt="">
        </div> -->
    </div>

    <!-- <span class="prev main_slider_arrow"
    id="prev_main">
        <i class="gg-chevron-left"></i>
    </span>
    <span class="next main_slider_arrow"
    id="next_main">
        <i class="gg-chevron-right"></i>
    </span> -->

</div>
