<div class="pform__wrap"
id="price_modal">
    <div class="pform__container">
        <div class="pform__container__title">
            Узнайте о снижении цены
        </div>
        <div class="pform__container__subtitle">
            Оставьте почту и мы напишем, когда цена товара снизится.
        </div>
        
        <div class="pform__container__form">
            <input type="text"
            name="email" id="email_input"
            class="contact__input"
            placeholder="Ваша почта"
            autocomplete="off">
            <span class="pform__button"
            id="#pform_button">
            Отправить
            </span>
        </div>
    </div>

    <div class="pform__wrap__close">
        <i class="gg-close"></i>
    </div>
</div>

<div class="pform__wrap__wrapper">

</div>

