<div class="pform__wrap"
id="find_price_modal">
    <div class="pform__container">
        <div class="pform__container__title">
            Нашли дешевле?
        </div>
        <div class="pform__container__subtitle">
            Оставьте ссылку на товар и вашу почту. Мы сообщим, когда цена снизится.
        </div>
        
        <div class="pform__container__form">
            <input type="text"
            name="prextlink" id="prextlink"
            class="contact__input"
            placeholder="Ссылка на товар"
            autocomplete="off">
            <input type="text"
            name="email" id="email_input"
            class="contact__input"
            placeholder="Ваша почта"
            autocomplete="off">
            <span class="pform__button"
            id="#pform_button">
            Отправить
            </span>
        </div>
    </div>

    <div class="pform__wrap__close">
        <i class="gg-close"></i>
    </div>
</div>

<div class="pform__wrap__wrapper">

</div>

