{% load products_extras %}
<div class="product__item">
    <div class="product__item__image">

        {% if product.has_sale %}
        {% include './svg_fire.html' %}
        <div class="product__item__sale_hint">
            <span>
                - {{ product.discount_perc }} %
            </span>
        </div>
        {% endif %}

        {% if product.ves != 'nan' %}
        <div class="product__item__ves_hint">
            <span>
                 {{ product.ves }} 
            </span>
        </div>
        {% endif %}

        <a href="{% url 'products:product' product.id %}">
        {% modify_imgsrc product.imgsrc as imgsrc %}
        <img src="{{ imgsrc }}" alt="">
        </a>
    </div>

    <div class="product__item__info">

        <div class="product__item__price">
        
        {% if product.has_sale %}
        
            <span class="product__item__price__sale"> 
                {{ product.sale_price }} Р
            </span>
            <span class="product__item__price__regular">
                {{ product.price }}
            </span>
            {% else %}
            <span class="product__item__price__regular2"> 
                {{ product.price }} Р
            </span>
        {% endif %}
        </div>
        <a class="product__item__name"
        href="{% url 'products:product' product.id %}">
            {{ product.name }}
        </a>
        <div style="margin: 40 0;
        text-align: center;">
            <span class="product__item__addcart
            product__addtocart__global"
            value="{{ product.id }}">
            {% is_in_cart product cart as in_cart %} 
                {% if in_cart %}
                <span class="in__cart__buttonstyle">
                Удалить с корзины
                </span>
                {% else %}
                    <span class="not__incart__buttonstyle">
                        В корзину
                    </span>
                {% endif %}
            </span>
        </div>
    </div>

</div>








