.contact__container {
  margin: 0 20;
}

.contact__container__title {
  text-align: center;
  font-family: "gpro-text-light";
  margin: 40 0;
  font-size: 22px;
}

.contact__container__phone {
  cursor: pointer;
  margin-top: 20px;
  font-family: "gpro-text-medium";
  font-size: 25px;
}

.contact__container__phone a {
  color: #fa5523;
}

.check__blocks {
  display: flex;
  justify-content: center;
}

.check__block {
  padding: 20 0;
  margin: 0 10;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  min-width: 150px;
  max-width: 300px;
  border: 1px solid grey;
  color: grey;
  text-align: center;
  cursor: pointer;
}

.check__block span {
  margin: 0 10;
  padding: 10px 5;
}

.check__block.active {
  border: 1px solid #fa5523;
  background-color: #fa5523;
  color: white;
}

#map_delivery_block {
  display: none;
}

#map_delivery_block img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

#map_delivery_block.show {
  display: block;
}

#map_loc_block {
  display: none;
}

#map_loc_block.show {
  display: block;
}
