.main__header__block {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  background-color: white;
  min-height: 100px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  z-index: 300;
  height: 100px;
}

@media (min-width: 1000px) {
  .main__header__block {
    margin: 0 20;
  }
}

@media (max-width: 1000px) {
  .main__header__block {
    height: 140px;
  }
}

.main__header__block.stuck {
  margin: 0px auto;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 70px;
  min-height: 50px;
  box-shadow: 0px 10px 21px -17px rgba(0, 0, 0, 0.75);
}

.main__header__block.stuck .header__second__logo {
  display: none;
}

.header__second__logo.hide {
  display: none;
}

.main__header__wrapper {
  background-color: white;
}

.header__first__container__item {
  margin-left: 15px;
  color: #808d9a;
  font-size: 13px;
  font-weight: 400;
}

.main__header__second {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__second__logo {
  display: flex;
  min-width: 150px;
  width: 20%;
  max-width: 250px;
  background-color: black;
  border-radius: 20px;
  margin: 10 0;
}

.header__second__logo img {
  object-fit: contain;
  width: 100%;
  overflow: hidden;
  max-height: 100px;
}

.header__second__catalog {
  width: 80%;
  display: flex;
  margin: 0px 25px 0px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  justify-content: center;
}

.header__second__catalog__items {
  align-items: center;
  align-content: center;
  display: flex;
  padding: 11px 13px;
  color: black;
  align-items: center;
}

.header__second__catalog__items a {
  font-size: 18px;
  text-decoration: none;
  color: #222222;
}

@media (max-width: 1100px) {
  .header__second__catalog__items {
    padding: 11 10;
  }
  .header__second__catalog__items a {
    font-size: 16px;
  }
}

.header__second__catalog__items.opened {
  color: #fa5523;
}

.header__second__search {
  max-width: 700px;
  width: 100%;
  height: 40px;
  padding: 8px;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.header__second__search__form {
  height: 100%;
  margin: 0px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.input_search {
  padding: 10px 20px;
  height: 100%;
  width: 80%;
  border: 2px solid #fa5523;
  border-radius: 4px;
  border-end-end-radius: 0px;
  margin-right: -2px;
  color: #001a34;
  font-size: 16px;
  font-weight: 500;
}

.input_search:focus {
  outline: none;
}

.input_submit {
  margin-left: -2px;
  width: 70px;
  min-width: 30px;
  height: 100%;
  background-color: #fa5523;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  border-start-start-radius: 0px;
  cursor: pointer;
  transition: all 0.3s;
}

.input_submit:hover {
  background-color: red;
}

.header__second__icons {
  display: flex;
  align-items: center;
  margin: 0px 5px;
}

.header__second__icons__item {
  margin: 2px 10px;
  cursor: pointer;
}

.header__second__icons__item svg:hover {
  color: #fa5523;
}

.main__header__second__mobile__logo {
  display: none;
  justify-content: center;
}

.header__second__catalog__mobile {
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
  background-color: #fa5523;
  color: white;
  display: none;
  margin-left: 15px;
  padding: 8px 15px;
}

.header__second__catalog__mobile__items {
  display: flex;
}

.header__second__catalog__mobile__items i {
  margin: 0px 5px;
}

.header__second__catalog__mobile__items span {
  font-weight: 600;
}

.header__cart {
  position: relative;
}

.cart__count__info {
  position: absolute;
  color: white;
  background-color: #fa5523;
  text-align: center;
  border-radius: 5px;
  padding: 2px 5px;
  top: -15;
  right: -10;
}

.cart__count__info span {
  font-size: 14px;
  text-decoration: none;
}

.header__favorite {
  position: relative;
}

.main__header__phone {
  width: 30%;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.main__header__phone__main {
  display: flex;
}

.main__header__phone__main i {
  color: #D3D3D3;
}

.main__header__phone__main__text a {
  text-decoration: none;
  color: #222222;
  font-family: "gpro-text-bold";
}

.main__header__phone__callme span {
  cursor: pointer;
  border-bottom: 2px dashed #fa5523;
  color: #fa5523;
}

.header__basket {
  color: #222222;
  font-size: 27px;
  transition: all 0.2s;
}

.header__basket:hover {
  color: #fa5523;
}

.main__header__phone__mobile {
  margin: 0 5;
  display: none;
  width: 40%;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.main__header__phone__mobile__main {
  display: flex;
}

.main__header__phone__mobile__main i {
  color: #D3D3D3;
}

.main__header__phone__mobile__main__text a {
  text-decoration: none;
  color: #222222;
  font-family: "gpro-text-bold";
}

.main__header__phone__mobile__callme span {
  cursor: pointer;
  border-bottom: 2px dashed #fa5523;
  color: #fa5523;
}

@media (max-width: 1000px) {
  .main__header__phone {
    display: none;
  }
  .main__header__phone__mobile {
    display: flex;
  }
  .logo__big {
    display: none;
  }
  .main__header__second__mobile__logo {
    display: flex;
  }
  .main__header__first {
    display: none;
  }
  .header__second__catalog {
    display: none;
  }
  .header__second__catalog__mobile {
    display: flex;
  }
  .search__big {
    display: none;
  }
}

@media (max-width: 450px) {
  .main__header__phone__main i {
    display: none;
  }
  .main__header__phone__main__text {
    font-size: 15px;
  }
  .main__header__phone__callme {
    font-size: 14px;
  }
}

@media (max-width: 347px) {
  .main__header__phone__main__text {
    font-size: 13px;
  }
  .main__header__phone__callme {
    font-size: 12px;
  }
}

@media (max-width: 347px) {
  .main__header__phone__mobile {
    display: none;
  }
}

.main__anchor__header {
  color: #fa5523 !important;
  font-family: "gpro-text-medium";
}

.header__popup__mobile {
  display: flex;
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  left: -500;
  z-index: 201;
  transition: left 0.5s;
}

.header__popup__mobile__menu {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.header__popup__mobile__menu a {
  margin: 20 0;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header__popup__mobile.show {
  left: 0;
  visibility: visible;
}

.header__popub__mobile__close {
  visibility: hidden;
  cursor: pointer;
  color: #fa5523;
  position: fixed;
  right: 40;
  top: -100;
  z-index: 20222;
  font-size: 40px;
  transition: top 1s;
}

.header__popub__mobile__close.show {
  visibility: visible;
  top: 40;
}
