@import './vars.scss';


.page__main__slider__wrapper {
    // border: 5px solid green;
    max-height: 438px;
    position: relative;
}

.page__main__slider {
    // border: 5px solid orange;
    position: relative;
    max-height: 438px;
    /* height: 100%; */
    &__img {
        /* max-width: 100%; */
        /* max-height: 100%; */
        img {
            object-fit: contain;
            /* width: 100%; */
            max-height: 100%;
            /* max-width: 100%; */
            /* max-height: 100%; */
        }
    }
}


.prev {
    left: 15px;
    top: 45%;
}
.next {
    right: 15px;
    top: 45%;
}
.main_slider_arrow {
    cursor: pointer;
    position: absolute;
    color: white;
    background-color: $main-color;
    border-radius: 45px;
    padding: 4px;
    transform: scale(1.3);
}