.page__main__slider__wrapper {
  max-height: 438px;
  position: relative;
}

.page__main__slider {
  position: relative;
  max-height: 438px;
  /* height: 100%; */
}

.page__main__slider__img {
  /* max-width: 100%; */
  /* max-height: 100%; */
}

.page__main__slider__img img {
  object-fit: contain;
  /* width: 100%; */
  max-height: 100%;
  /* max-width: 100%; */
  /* max-height: 100%; */
}

.prev {
  left: 15px;
  top: 45%;
}

.next {
  right: 15px;
  top: 45%;
}

.main_slider_arrow {
  cursor: pointer;
  position: absolute;
  color: white;
  background-color: #fa5523;
  border-radius: 45px;
  padding: 4px;
  transform: scale(1.3);
}
