@import './vars.scss';

.pform__wrap {
    min-height: 210px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    left: 50%;
    top: -200%;
    transform: translate(-50%, -50%);
    position: fixed;
    // height: 60%;
    width: 90%;
    max-width: 750px;
    z-index: 9999999999;
    transition: all 0.4s;
    &__close {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: -70px;
        transform: scale(1.9);
        background-color: none;
        color: white;
    }
    @media (max-width: 954px) {
        &__close {
            color: black;
            right: 10;
            top: 10;
        }
    }
}
.pform__wrap.show {
    display: flex;
    top: 50%;
}

.pform__container {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    /* margin: 50px 80px; */
    padding: 50 0;
    &__title {
        text-align: center;
        margin-top: 0px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $main-bold;
    }
    &__subtitle {
        text-align: center;
        margin-top: 8px;
    }
    &__form {
        margin-left: 10px;
        margin-right: 10px;
        width: 450px;
        max-width: 95%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact__input {
            max-width: 350px;
            width: 90%;
            height: 60px;
            padding: 0px 50px;
            margin-bottom: 20px;
            background-color: $bg-nice;
            border-radius: 5px;
            border: none;
            font-size: 20px;
            outline: none;
            &::placeholder {
                color: rgb(21,57,61);
                font-family: $main-font-semilight;
            }
        }
        .pform__button {
            border-radius: 5px;
            min-width: 50px;
            max-width: 280px;
            width: 100%;
            display: flex;
            cursor: pointer;
            background-color: $main-color;
            height: 60px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: $main-medium;
            font-size: 18px;
            // padding: 0px 35px;
            transition: all 0.2s;
            &:hover {
                background-color: $main-color-hover;
            }
        }
    }
}
.pform__container.hide {
    display: none;
}
@media (max-width: 900px) {
    .pform__container {
        padding: 25 0;
    }
}
@media (max-width: 423px) {
    .pform__button {
        padding: 10px 0px;
    }
}
.pform__wrap__wrapper {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 499;
    background-color: black;
    opacity: .3;
    display: none;
}
.pform__wrap__wrapper.show {
    display: flex;
}