.product__item {
  margin: 10px;
  box-shadow: 0px 0px 21px -17px rgba(0, 0, 0, 0.75);
  max-width: 400px;
  min-width: 250px;
  width: 100%;
}

.product__item__sale_hint {
  user-select: none;
  position: absolute;
  bottom: 14;
  left: 0;
}

.product__item__sale_hint span {
  padding: 5 10;
  font-size: 14px;
  color: white;
  background-color: #f91155;
  border-radius: 3px;
}

.product__item__image {
  text-align: center;
  position: relative;
  margin: 0px auto;
  min-height: 235px;
  height: 300px;
  max-width: 300px;
}

.product__item__image img {
  object-fit: contain;
  overflow: hidden;
  height: 100%;
  width: 98%;
}

.product__item__price {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.product__item__price__sale {
  color: #f91155;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: .3px;
  margin-right: 8px;
  font-family: "gpro-text-bold";
}

.product__item__price__regular {
  font-size: 16px;
  height: 17px;
  position: relative;
  line-height: 1.43;
  color: #001a34;
}

.product__item__price__regular:before {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 1px;
  display: block;
  background: #f91155;
  transform: rotate(-3deg);
}

.product__item__price__regular2 {
  color: black;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: .3px;
  margin-right: 8px;
  font-family: "gpro-text-medium";
}

.product__item__name {
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 6px;
}

.product__item__name:focus {
  outline: none;
}

.product__item__addcart {
  padding: 30px 0px;
  margin-top: auto;
}

.product__item__addcart span {
  cursor: pointer;
  background-color: #fa5523;
  font-weight: 600;
  color: white;
  font-size: 15px;
  border-radius: 27px;
  padding: 10px 24px;
  transition: all 0.2s;
}

.product__item__addcart span:hover {
  background-color: red;
}

@media (max-width: 555px) {
  .product__item {
    max-width: 300px;
  }
}

.product__item__info {
  margin: 0 10;
}

.product__item__like {
  cursor: pointer;
  position: absolute;
  right: 10;
  font-size: 24px;
  color: #fa5523;
  transition: all 0.2s;
}

.product__item__like:hover {
  color: #f91155;
}

.product__item__ves_hint {
  position: absolute;
  bottom: 13;
  right: 10;
}

.product__item__ves_hint span {
  padding: 5 10;
  border-radius: 10px;
  background-color: #222222;
  color: white;
  font-family: "gpro-text-light";
  font-size: 14px;
}
