.stock__item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  min-height: 340px;
}

.stock__item__img {
  width: 100%;
  max-height: 400px;
  position: relative;
  text-align: center;
}

.stock__item__img img {
  max-height: 400px;
  max-width: 90%;
  border-radius: 7px;
  object-fit: contain;
}

.stock__item__desc {
  margin: 20 0;
  text-align: center;
}

.stock__item__desc span {
  font-size: 18px;
}
