$main-font-light: "gpro-text-light";
$main-font-semilight: "gpro-text-semilight";
$main-font: "gpro-text-regular";
$main-medium: "gpro-text-medium";
$main-bold: "gpro-text-bold";
// $main-col1: #0CBABA;
// $main-color: #FA5421;
$main-color: rgb(250,85,35);
$main-grey: #D3D3D3;
$main-black: #222222;
// $main-color-hover: #119d9d;
$main-color-hover: red;
$nice-green: #3ac267;
$nice-green-hover: #33b062;
$sale-price: #f91155;
$sale-label-color: rgb(249, 17, 85);
$sale-price-size: 30px;
$old-price: #d6dbe0;
$old-price-size: 20px;
$main-radius: 8px;
$cart-radius: 3px;
$cart-padding: 8px 19px;
$cart-transition: all 0.2s;
$bg-nice: rgb(243,245,253);
$bg-nice2: #e5efff;
$bg-nice3: rgb(246,247,248);
$find-color: #005bff;
$input-bg: #f3f5fd;

$nice-black: #001a34;
$nice-grey: #808d9a;
$nice_grey_2: rgba(0, 0, 0, 0.54);
$nice_orange: rgb(254, 80, 0);
$border_nice: rgb(245, 236, 232);
$nice_green_2: rgb(25, 187, 9);