<div class="pform__wrap"
id="change_password_form">
    <div class="ppform__wrapper">
        
    <div class="pform__container">
        <div class="pform__container__title">
            Изменить пароль
        </div>
        
        
        <div class="pform__container__form">
            <div class="change_error">
            </div>
            <input type="password"
            name="password1"
            class="contact__input"
            placeholder="Новый пароль"
            autocomplete="off">
            <input type="password"
            name="password2"
            class="contact__input"
            placeholder="Повторите пароль"
            autocomplete="off">
            <span class="pform__button password_change_submit noselect">
                Подтвердить
            </span>
        </div>
    </div>

    </div>

    <div class="pform__wrap__close">
        <i class="gg-close"></i>
    </div>
</div>

<div class="pform__wrap__wrapper">

</div>

<script>
    $(".password_change_submit").click(function() {
        var p1 = $("input[name='password1']").val()
        var p2 = $("input[name='password2']").val()
        can_change = true
        var msg = 'asdf'
        $(".input__empty__error").html(msg)
        if (p1.length < 6) {
            can_change = false
            msg = 'Пароль должен содержать не менее 6 символов'
        }
        if (!(p1 == p2)) {
            can_change = false
            msg = 'Пароли не совпадают'
        }
        if (can_change) {
            $.ajax({
                url: "{% url 'users:change_password_ajax' %}",
                data: {
                    'password': p1
                }, success: function(data) {
                    var status = data['success']
                    if (status) {
                        closeChangePasswordForm()
                        window.alert('пароль изменен')
                    } else {
                        window.alert('ошибка')
                    }
                }
            })
        } else {
            $(".change_error").html(msg)
        }

    })  
</script>

