{% load products_extras %}

{% get_address_by_id 1 as address %}

<div class="pform__wrap"
id="change_address_form">
    <div class="ppform__wrapper">
        
    <div class="pform__container">
        <div class="pform__container__title">
            Изменение адреса 
        </div>
        
        <div class="pd15"></div>
        
        <div class="">
            <div class="change_error">
            </div>
            <input class="input_style1"
            type="text"
            placeholder="Город"
            name="city_edit"
            value="{{ address.city }}"
            disabled="true"
            autocomplete="off"> <br>
            <input 
            type="text"
            class="input_style1"
            name="street_edit"
            value = "{{ address.street }}"
            placeholder="Улица"
            autocomplete="off"> <br>
            <input 
            type="text"
            class="input_style1"
            value = "{{ address.house }}"
            name="house_edit"
            placeholder="Дом"
            autocomplete="off"> <br>
            <input 
            type="text"
            class="input_style1"
            name="flat_edit"
            value = "{{ address.flat }}"
            placeholder="Квартира"
            autocomplete="off"> <br>
            <input 
            type="text"
            class="input_style1"
            placeholder="Комментарий"
            name="comment_edit"
            value = "{{ address.comment }}"
            autocomplete="off"> <br>
            <div class="nice_button center pointer noselect">
                <span class="change_address_button_submit">
                    Сохранить
                </span>
            </div>
        </div>
    </div>

    </div>

    <div class="pform__wrap__close">
        <i class="gg-close"></i>
    </div>
</div>

<div class="pform__wrap__wrapper">

</div>

<script>
    $(".change_address_button_submit").click(function() {
        $('.change_error').html('')

        var city = $("input[name='city_edit']").val()
        var street = $("input[name='street_edit']").val()
        var house = $("input[name='house_edit']").val()
        var flat = $("input[name='flat_edit']").val()
        var comment = $("input[name='comment_edit']").val()
        var success = true
        msg = ''
        console.log(street)
        if (city.length < 1) {
            success = false
        }
        else if (street.length < 1) {
            success = false
            msg = 'Укажите улицу'
        }
        else if (house.length < 1) {
            success = false
            msg = 'Укажите номер дома'
        }
        if (success == false) {
            $('.change_error').html(msg)
        } else {
            $.ajax({
                url: "{% url 'users:address_action_ajax' %}",
                data: {
                    'action': 'edit',
                    'address_id': "{{ address.id }}",
                    'city': city,
                    'street': street,
                    'house': house,
                    'flat': flat,
                    'comment': comment,
                }
            })
        }
    })
     
</script>

